# OS files
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
.env

# Node/React
node_modules/
dist/
build/
.next/
*.log

# Project specific
backend/omr_app.db
backend/uploads/
backend/debug_rois/
/tmp/
